<mat-nav-list>
  <a href="#" mat-list-item (click)="exportTo($event, 'excel')">
    <mat-icon svgIcon="excel"></mat-icon>
    <span mat-line>Exportar a Excel</span>
  </a>

  <a href="#" mat-list-item (click)="exportTo($event, 'pdf', 'open')">
    <mat-icon svgIcon="pdf"></mat-icon>
    <span mat-line>Exportar a PDF (Open)</span>
  </a>
  <a href="#" mat-list-item (click)="exportTo($event, 'pdf', 'download')">
    <mat-icon svgIcon="pdf"></mat-icon>
    <span mat-line>Exportar a PDF (Download)</span>
  </a>
  <a href="#" mat-list-item (click)="exportTo($event, 'pdf', 'print')">
    <mat-icon svgIcon="pdf"></mat-icon>
    <span mat-line>Exportar a PDF (Print)</span>
  </a>
</mat-nav-list>
