.container {
  border: 1px solid gray;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.container.hover {
  border: 1px dashed red;
}

.container {
  background-size: contain;
  background-repeat: no-repeat;
}

h3 {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  margin: 0 0 10px 0;
  padding: 0;
}
